doctype html

html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Containers status
    link(rel="stylesheet", href="/stylesheets/dashboard.css")
    link(rel="shortcut icon", href="/images/favicon.ico")
  body
    section.section
      .container
        h1.title Containers status
        each container in containers
          p.subtitle(style={ "margin-bottom": "0px" })
            span=`${container.alias}: `
            strong(style={ color: container.stateColor })=container.stateText

  script(src='/dashboard.js')