doctype html

html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title healthchecker-ui
    link(rel="stylesheet", href="/stylesheets/dashboard.css")
  body
    section.section
      .container
        h1.title Hello world
        p.subtitle It'up

  script(src='/dashboard.js')